{% extends "base.html" %}

  {% block title%}AI Clothing Classification{%endblock title%}

  {% block content%}
    <div id="upload-page">
      <h2>Upload An Image</h2>
      <div class="upload-div">
        <form method="post" enctype="multipart/form-data" action="file-upload" class="dropzone">
          <input type="file" id="upload" name="myfile"/>
          <button type="submit">Upload</button>
        </form>
        <input type="hidden" id="url-link" data-url="{% url 'result' %}" />
        {% comment %} <button id='file-submit' type="button">Classify</button> {% endcomment %}
      </div>
      {% comment %} <input class="form-button bouncy" id='file-submit' type="button" style="animation-delay:0.07s"> {% endcomment %}
    </div>
{% endblock content%}
