{% extends "base.html" %}

  {% block title%}AI Clothing Classification{%endblock title%}

  {% block content%}
    <div id="upload-page">
      <h2 id="upload-text">Upload An Image</h2>
      <div class="upload-div">
        <form method="post" enctype="multipart/form-data" action="file-upload" class="dropzone">
          <input type="file" id="upload" name="myfile"/>
          <button type="submit" id="upload-btn">Show Me Colours!</button>
        </form>
      </div>
    </div>
{% endblock content%}
